<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Long Method"
            id="codeanalyzer.commands.longmethod">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="codeanalyzer.handlers.LongMethodHandler"
            commandId="codeanalyzer.commands.longmethod">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="codeanalyzer.commands.longmethod"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Toggle Relay Flag"
            id="codeanalyzer.commands.ToggleRelayFlag">
      </command>
      <command
            id="codeanalyzer.LoCS"
            name="LoCS">
         <defaultHandler
               class="codeanalyzer.LoCSHandler">
            <parameter
                  name="codeanalyzer.parameter1"
                  value="codeanalyzer.parameter1">
            </parameter>
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="codeanalyzer.handlers.RelayFlagHandler"
            commandId="codeanalyzer.commands.ToggleRelayFlag">
      </handler>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="codeanalyzer.menus.segmentation"
               label="Segmentation"
               mnemonic="S">
            <command
                  commandId="codeanalyzer.commands.longmethod"
                  id="codeanalyzer.menus.longmethod"
                  mnemonic="M">
            </command>
            <command
                  commandId="codeanalyzer.commands.ToggleRelayFlag"
                  id="codeanalyzer.menus.ToggleRelayFlag"
                  mnemonic="C">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Long Method Category"
            id="codeanalyzer">
      </category>
      <view
            id="codeanalyzer.views.LongMethodView"
            name="Long Method"
            class="views.LongMethodView"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="viewplugin.views.LongMethodView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="codeanalyzer.segmentAnnotation"
            colorPreferenceKey="segmentAnnotationColorKey"
            colorPreferenceValue="64,224,208"
            contributesToHeader="false"
            highlightPreferenceKey="segmentAnnotationHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToPreviousNavigationTarget="true"
            label="segmentAnnotation"
            overviewRulerPreferenceKey="segmentAnnotationOverview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarActionKey="segmentAnnotationNextPrevDropdown"
            textPreferenceKey="segmentAnnotationText"
            textPreferenceValue="true"
            textStylePreferenceKey="segmentAnnotationTextStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="segmentAnnotationRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="codeanalyzer.handlers.LoCSHandler"
            commandId="codeanalyzer.LoCSHandler">
      </handler>
   </extension>

</plugin>
